certifi==2019.3.9
chardet==3.0.4
Click==7.0
croniter==0.3.30
Django==2.2.1
django-anymail==6.0.1
django-cors-headers==3.0.2
django-db-multitenant==0.3.2
django-environ==0.4.5
django-extra-fields==1.2.1
django-filter==2.1.0
django-ipware==2.1.0
django-money==0.14.4
django-oauth-toolkit==1.2.0
django-rq==2.0
django-storages==1.7.1
djangorestframework==3.9.4
Faker==1.0.7
gunicorn==19.9.0
idna==2.8
oauthlib==3.0.1
p==0.0.0
Pillow==6.0.0
psycopg2-binary==2.8.2
py-moneyed==0.8.0
python-dateutil==2.8.0
pytz==2019.1
redis==3.2.1
requests==2.22.0
rq==1.0
rq-scheduler==0.9
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.3
