Click==7.0
croniter==0.3.30
Django==2.2.7
django-cors-headers==3.1.1
django-environ==0.4.5
django-ipware==2.1.0
django-redis-cache==2.1.0
django-rq==2.1.0
django-tenants==2.2.3
Faker==2.0.4
Pillow==6.2.1
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2019.3
redis==3.3.11
rq==1.1.0
rq-scheduler==0.9.1
six==1.13.0
sqlparse==0.3.0
text-unidecode==1.3
